/* Give ourselves some decent defaults. */

html {
	height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:before,:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
	font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}

#main {
	max-width: 38em;
	margin: 0 auto;
	line-height: 145%;
}

a {
	color: #222;
	text-decoration-color: #bbb;
}

a:hover {
	color: #cc8929;
	text-decoration-color: #cc8929;
}

a:active {
	color: #ffb040;
	text-decoration-color: #cc8929;	
}

tw-storydata {
	display: none;
}

#drama_holder{
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    background-color: #ffffff;
    position: fixed;
    z-index: 99999999999999999;
}

#drama_spacer{
    width: 100%;
}

#drama_container{
    background-color: #ffffff;
}

#drama_result{
    text-align: center;
    font-size: 32px;
    font-family: 'Droid Sans Mono', sans-serif;
    line-height: 1.5;
}

#guide_top{
    text-align: center;
    font-size: 32px;
    font-family: 'Droid Sans Mono', sans-serif;
    color: #DDDDDD;
}

#guide_bottom{
    text-align: center;
    font-size: 32px;
    font-family: 'Droid Sans Mono', sans-serif;
    color: #DDDDDD;
}

#notch{
    text-align: center;
    font-size: 32px;
    font-family: 'Droid Sans Mono', sans-serif;
    color: #DDDDDD;
}

#drama_credits{
    float: right;
    font-family: 'Droid Sans Mono', sans-serif;
    font-size: 13px;
}

#drama_credits a{
    color: #dddddd;
    text-decoration: none;
}

#drama_selector{
    float: left;
    width: auto;
}

.invisible{
    font-family: 'Droid Sans Mono', sans-serif;
    color: #ffffff;
}

.drama_start{
    color: #333333;
    text-align: center;
    font-size: 32px;
    font-family: 'Droid Sans Mono', monospace, sans-serif;
}
.drama_pivot{
    color: #DE0000;
    text-align: center;
    font-size: 32px;
    font-family: 'Droid Sans Mono', monospace, sans-serif;
}
.drama_end{
    color: #333333;
    text-align: center;
    font-size: 32px;
    font-family: 'Droid Sans Mono', monospace, sans-serif;
}

.drama_link {
	text-decoration: underline;
}


@media only screen and (max-device-width: 480px){
    #drama_result, #guide_top, #guide_bottom, #notch, #drama_start, #drama_pivot, #drama_end{
        font-size:14px;
    }
    .drama_start, .drama_pivot, .drama_end{
        font-size:14px;
    }
}

/* scale font sizes for phones */

@media screen and (max-device-width: 480px) {
	#passage {
		font-size: 70%;
	}
}