<!DOCTYPE html>
<html>
<head>
	<title>{{STORY_NAME}}</title>
	<meta charset="utf-8">
	<style>
	<%- style %>
</style>
</head>
<body>
	<div id="main">
		<div id="drama">
			<div class="container">
				<div id="drama_container">
					<div id="guide_top">
						――――――――――――――――――――――
					</div>
					<div id="drama_result">&nbsp;</div>
					<div id="guide_bottom">
						――――――――――――――――――――――
					</div>
				</div>
			</div>
		</div>
		{{STORY_DATA}}
	</div>
	<script>
		<%- script %>
	</script>
</body>
</html>
